<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="TaxRate" value="0.13" />
        <add key="LoginUsername" value="admin" />
        <add key="LoginPassword" value="admin" />
        <add key="SalesUsername" value="sales" />
        <add key="SalesPassword" value="sales" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration> 